# Build output folders for all subprojects (generated during compilation, not needed in repo)
build
.gradle
common/build
common/.gradle
fabric/build
fabric/.gradle
forge/build
forge/.gradle

# Run folders (temporary runtime folders created when starting Minecraft)
forge/run
fabric/run

# Specific runtime folders for client instances
forge/run-client
fabric/run-client
fabric/run-client-2

# Specific runtime folders for server instances
forge/run-server
fabric/run-server

# Folder for JVM crash logs
hell nah/

# Temporary Java backup files created by some editors (tilde suffix)
*.java~

# IntelliJ IDEA project files, to keep the repo clean
.idea/
*.iml
out/

credentials.properties